<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--<add key="ConnectionString"  value="Data Source=SILVERCORD-PC\SQLEXPRESS;Initial Catalog=BLS;Integrated Security=True" />-->
    <!--<add key="ConnectionString"  value="Data Source=DELL-pc;Initial Catalog=BLS;Integrated Security=True" />-->
    <add key="ConnectionString"  value="Data Source=COMPUTER-PC\SQLEXPRESS;Initial Catalog=BLS;Integrated Security=True" />
    <add key="ServerName"  value="COMPUTER-PC\SQLEXPRESS" />
    <!--<add key="ConnectionString"  value="Data Source=GSR\SQLEXPRESS1;Initial Catalog=BLS;Integrated Security=True" />-->

    <add key="ImageDirectoryPath" value="D:\BLSProject\BLSImages"/>
    <add key="LogDirectoryPath" value="D:\BLSProject\BLSLogs"/>
    <add key="BackUpLocation" value="D:\BLSProject\BLSFullBackUp"/>   
    <add key="FromErrorEmailAddress" value="silvercordtechnologies@gmail.com"/>
    <add key="ToErrorEmailAddress" value="snthanthry@gmail.com,grationrosario@gmail.com"/>
    <add key="AdminMobileNumber" value="9535259359;9743290523;"/>
    <add key="Site2SMSUserName" value="9535259359"/>
    <add key="Site2SMSPwd" value="1591131"/>
    <add key="MashapeKey" value="V60aIj6BDTmshjER2ZzE2b3YTDJdp1Aq7rNjsnl2tTXV0EukKC"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="silvercordtechnologies@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="silvercordtechnologies" password="silvercord2014" defaultCredentials="false"/>
      </smtp>
    </mailSettings> 
  </system.net>
</configuration>