<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
 <appSettings>
   <add key="MemberShipNumber"  value="2000" />
   <!--<add key="ConnectionString"  value="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=BLS;Integrated Security=True" />-->
   <!--<add key="ConnectionString"  value="Data Source=DELL-PC;Initial Catalog=BLS;Integrated Security=True" />-->
   <add key="ConnectionString"  value="Data Source=SILVERCORD-PC\SQLEXPRESS;Initial Catalog=BLS;Integrated Security=True" />
   
 </appSettings>

</configuration>